.body{
   margin: 0;
}
h1{
    font-size: 60px;
    text-align: center;
    color: darkgreen;
    border-bottom: 3px solid #EAF9F4;
}
.images{
	padding: 50px 0;
}
.container{
	overflow: hidden;
	margin: 0 auto;
	width: 960px;
	/*border: 2px solid black;*/
}
.img_item{
	margin-top: 3px;
	margin-bottom: 3px;
	box-sizing: border-box;
	float: left;
	width: 25%;
	padding:0 3px;
}
.img_item img{
	width: 100%;
}
h2{
	font-size: 50px;
	font-weight: 500;
	color: goldenrod;
}

.icons{
	font-size: 50px;
	color: darkgreen;
}
.box{
	height: 100px;
	background-color: red;
	margin-bottom: 5px;
}